<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBattleships" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1337/Battleships/BattleshipsService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBattleships"
                contract="IBattleships" name="WSHttpBinding_IBattleships">
                <identity>
                    <userPrincipalName value="OEH2\OEHurford" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>